/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (6.5.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.opennms.integration.tmf621.camel.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.opennms.integration.tmf621.camel.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class HubApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        onException(Exception.class)
            .log(LoggingLevel.ERROR, "${exception.message}: ${exception.stacktrace}")
            .handled(true)
            .process("validationErrorProcessor");
        

        /**
        POST /hub : Register a listener
        **/
        rest()
            .post("/hub")
                .description("Register a listener")
                .id("registerListenerApi")
                .clientRequestValidation(false)
                .bindingMode(RestBindingMode.off)
                .produces("application/json;charset=utf-8")
                .outType(EventSubscription.class)
                .consumes("application/json;charset=utf-8")
                .type(EventSubscriptionInput.class)
                
                .param()
                    .name("data")
                    .type(RestParamType.body)
                    .required(true)
                    .description("Data containing the callback endpoint to deliver the information")
                .endParam()
                .to("direct:validate-registerListener");
        

        /**
        DELETE /hub/{id} : Unregister a listener
        **/
        rest()
            .delete("/hub/{id}")
                .description("Unregister a listener")
                .id("unregisterListenerApi")
                .clientRequestValidation(false)
                .bindingMode(RestBindingMode.off)
                .produces("application/json;charset=utf-8")
                .outType(Void.class)
                .param()
                    .name("id")
                    .type(RestParamType.path)
                    .required(true)
                    .description("The id of the registered listener")
                .endParam()
                .to("direct:validate-unregisterListener");
        
    }
}
